extends ../layouts/layout

block content
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading
                    | Results
                .panel-body
                    .col-sm-12
                        table.table.table-striped.text-center
                            thead
                                tr
                                    th|ID
                                    th|User
                                    th|Project
                                    th|Week
                                    th|Description
                                    th|View
                            tbody
                                - for (var i=0; i<logs.length; i++) {
                                - var x = logs[i];
                                tr
                                    td=x.id
                                    td=x.creator.firstname
                                    td=x.project
                                    td=x.week
                                    td=x.title
                                    td
                                        a(href='/logs/get/'+x.id, target="_blank")
                                            | View changes
                                - }